@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: beige;
  color: black;
  transition: 1.5s;
}


.dark {
  background-color: rgb(16, 16, 44);
  color: white;
  transition: 1.5s;
}

.home{
  background-image: url('./assets/imghome.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.anim-nav{
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.8s ease;
}
